<div class="jumbotron" style="position: relative;">
<div class="text-center">
    <h1 class="display-4">Aysenur YILMAZ</h1>
    <h3>Software Developer</h3>
</div>

<div style="position:absolute; bottom:5px; right: 10px;">

    <a href="//linkedin.com" target="_blank" class="">  
        <img src="https://github.com/aysenrylmaz/portfolioPage/blob/master/docs/assets/linkd.webp?raw=true"  width="30" height="30" class="rounded-circle me-4">
    </a>
    
    <a href="//instagram.com" target="_blank" class="">  
        <img src="https://github.com/aysenrylmaz/portfolioPage/blob/master/docs/assets/insta.webp?raw=true"  width="30" height="30" class="rounded-circle me-4">
    </a>
    
    <a href="//github.com" target="_blank" class="">  
        <img src="https://github.com/aysenrylmaz/portfolioPage/blob/master/docs/assets/git.png?raw=true"  width="30" height="30" class="rounded-circle me-4">
    </a>
</div>
</div>