<div class="container">
    <br><br>
<div class="text-center border mb-5 shadow rounded">
<h1>Contact</h1>
<form (submit)="onSubmit()">
    <div class="form-group col-md-6 offset-md-3">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="contactForm.name" name="name" required>
    </div>
    <div class="form-group col-md-6 offset-md-3">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="contactForm.email" name="email" required>
    </div>
    <div class="form-group col-md-8 offset-md-2">
      <label for="message">Message</label>
      <textarea class="form-control" id="message" rows="3" [(ngModel)]="contactForm.message" name="message" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <br><br>
  </form>
</div>

<div class="list-group shadow">
    <a href="//linkedin.com" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">  
    <img src="https://github.com/aysenrylmaz/portfolioPage/blob/master/docs/assets/linkd.webp?raw=true"  width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
    <h3 class="mb-0">LinkedIn</h3>
</a>

<a href="//instagram.com" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">  
    <img src="https://github.com/aysenrylmaz/portfolioPage/blob/master/docs/assets/insta.webp?raw=true"  width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
    <h3 class="mb-0">Instagram</h3>
</a>

<a href="//github.com" target="_blank" class="list-group-item list-group-item-action d-flex gap-3 py-3">  
    <img src="https://github.com/aysenrylmaz/portfolioPage/blob/master/docs/assets/git.png?raw=true"  width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
    <h3 class="mb-0">Github</h3>
</a>
</div>
<br><br><br>
</div>