<nav class="navbar-expand-md navbar border-bottom mb-3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-secondary" (click)="scrollToSection('home')" routerLink="" fragment="home">Home</a>
            </li>

            <li class="nav-item">
                <a href="" class="nav-link text-secondary" (click)="scrollToSection('portfolio')" routerLink="" fragment="portfolio">Portfolio</a>
            </li>
            
            <li class="nav-item">
                <a href="" class="nav-link text-secondary" (click)="scrollToSection('resume')" routerLink="" fragment="resume">Resume</a>
            </li>

            <li class="nav-item">
                <a href="" class="nav-link text-secondary" (click)="scrollToSection('contact')" routerLink="" fragment="contact">Contact</a>
            </li>

        </ul>
    </div>
</nav>
