<div class="shadow-sm">

 <div id="snapping" class="section">
    <div class="content">
      <div class="text">
        <img src="https://assets.codepen.io/197359/flower-white.png" alt="">
      </div>
    </div>
  </div>
  <div class="opening-screen">
    <div class="opening-screen-text">
      <h1>"A woman dancing with codes,</h1>
      <p>she can rewrite the rhythm of the universe."</p>
    </div>
</div>
  <br><br><br><br>
    <app-header></app-header>
    <app-nav></app-nav>
    <div class="content-wrapper">
    <div id="home" class="section">
      <app-home></app-home>
    </div>
    
  <div id="portfolio" class="section">
      <app-portfolio></app-portfolio>
  </div>

  <div id="resume" class="section">
      <app-resume></app-resume>
  </div>
</div>
  <!-- <router-outlet></router-outlet> -->
</div>
  <footer>
      <div id="contact" class="section">
          <app-contact></app-contact>
        </div>
  </footer>



  